@media screen and (max-width: 700px) {
	main {
		width: 100% !important;
	}
}

body {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-color: #2c3e50;
}

main {
	background-image: linear-gradient(#3A6681, #8FB8D0);
	position: absolute;
	height: 100%;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	border-style: solid;
	border-color: #bdc3c7;
}

.foreground {
	height: 40%;
}

.foreground>img {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: -1;
	background-position-y: bottom;
}

.nav-button, .nav-button:hover, .nav-button:focus {
	transition: background-image 1s, transform 0.2s, box-shadow 0.2s;
}

.nav-button:hover {
	background-image: linear-gradient(#DC4757, #C71828);
	border: 2px solid #C71828;
	cursor: pointer;
}

.nav-button:focus {
	background-color: #c0392b;
	box-shadow: 0px 0px;
	transform: translate(3px, 3px);
}

.column {
	display: inline-block;
	text-align: center;
}

.app-title {
	font-family: 'Signika', sans-serif;
	font-size: 30px;
}

#container {
	flex-direction: row;;
	width: 98%;
	flex-wrap: wrap;
}

.item {
	margin: 1% 1% 1% 1%;
}

#app {
	display:none;
	height: 50%;
	position: fixed;
	width: 80%;
	margin: auto;
	left: 10%;
	bottom: 10%;
	border-radius: 10%;
	background-image: linear-gradient(#3F3F63, #2D2D78);
	text-align: center;
	align-items: center;
}

.nav-button {
	height: 10vh;
	width: 10vh;
	background-image: linear-gradient(#D93242, #C71828);
	border-radius: 10%;
	border: 2px solid #C71828;
	box-shadow: 4px 4px #680D16;
	margin: 15px;
}

#map {
	position: inherit !important;
}

header {
	text-align: center;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30vh;
	width: 100%; /
	background-image: url("./images/gecko.png"); / /
	background-size: 30vh;
	/
	/* background-repeat: no-repeat;/
            /background-position-x: right;*/
}

footer img {
	height: 30vh;
	float: right;
}

footer img:hover {
	cursor: pointer;
}

.notification {
	font-family: 'Signika', sans-serif;
	font-size: 30px;
	width: 100%;
	background-color: black;
	height: 33px;
	color: white;
}

#end {
	position: fixed;
	background-color: black;
	z-index: 100000;
	width: 200%;
	transform: translate(-25%);
	height: 59%;
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 5em;
	text-align: center;
	top: 0;
	padding-top: 40%;
}